<div class="container">
  <h1>Create Review Report</h1>
  <form class="form-horizontal " action="/reviews/create" method="post">
    <div class="form-group">
      <label class="control-label" style="width:100%;">Review Text Url</label>
      <input class="form-control" type="text" name="review_text_url" placeholder="Use github blob url (never the branch name url)"></input>
    </div>
    <% if @authorized %>
    <div class="form-group">
      <label class="control-label" style="width:100%;">Reviewing Society</label>
      <select class="form-control" name="review_society">
        <option value="MAA">MAA</option>
        <option value="SCS">SCS</option>
        <option value="RSA">RSA</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" style="width:100%;">Reviewing Badget Number (e.g. 1, 2)</label>
      <input class="form-control" type="text" name="review_badge_number"></input>
    </div>
    <% end %>
    <div class="form-group">
      <label class="control-label" style="width:100%;">Reviewing Summary</label>
      <textarea class="form-control" name="review_summary"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label" style="width:100%;">Submitted by</label>
      <input class="form-control" type="text" name="submitted_by" readonly value="<%= @username %>"></input>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
