<div class="container">
  <h1>Digital Latin Library Review System</h1>
  <p>Welcome to the Digial Latin Library (DLL) review system.
    In collaboration with the Society for Classical Studies,
    the Medieval Academy of America, and the Renaissance Society of America,
    the DLL maintains a registry of peer review reports for semantically encoded critical editions.
    This registry offers both a human redeable version of the review archive as
    well as a machine readable API service.
  </p>
  <p>
    This API service allows the reviews and associated imprimatur from the granting society
    to travel with a text through the web. As the imprimatur travels, applications and users
    can always verify that the text under consideration matches the text that was reviewed.
    Likewise, users and applications can use the API to access the guidelines and rubrics
    established by each society and quickly discover precisely what it means for the
    text to receive a particular imprimatur.
  </p>
  <p>
    Society Review Rubrics can be found here:
    <ul>
      <li><a href="/rubric/maa">Medieval Academy of America</a></li>
    </ul>
  </p>




</div>
