<div class="container" style="width: 60%; margin: auto;">
  <h1>MAA Rubric</h1>
  <p><a href="/maa-pub.asc">The MAA public Key</a></p>
  <p>
    For more info on how to use Society Public Keys
    to verify certificate authenticity see
    <a href="/verify">Verification Instructions</a>
</p>
  <table class="table" id="gold">
    <thead class="thead-default">
      <tr>
        <th>Gold Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="/maa-badge.svg"/></td>
      </tr>
      <tr>
        <td>Peer Reviewed Critical Edition</td>
      </tr>
      <tr>
        <td>
          Meets the standards of a critical edition; judged by the MAA as
          equal in quality to the kinds of editions that appear in the
          MAA printed editions series or scholarly articles that
          appear the MAA journal "Speculum".
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table" id="green">
    <thead class="thead-default">
      <tr>
        <th>Green Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="/maa-badge-working.svg"/></td>
      </tr>
      <tr>
        <td>Peer Reviewed Working Edition</td>
      </tr>
      <tr>
        <td>Meets the standards of a working edition; judged by the MAA as
          a high quality edition that should be regarded by scholars as useful and reliable.
          The MAA recommends that crediting institutions should recognize this edition
          as the product of careful scholarship and as a significant contribution to the field.
          While lacking certain features that are expected of a full critical edition (such as a
          collation of certain manuscripts, an apparatus fontium, etc.), it is free from errors, and
          offers a text that is a genuine improvment over what has heretofore been available.
        </td>
      </tr>
    </tbody>
  </table>
</div>
