<div class="container">
  <h3>Verification Report</h3>
  <p><%= @report %></p>
  <p>To learn more about how to verify for yourself see our <a href="/verify#verify-for-self">instructions on self verification</a></p>
</div>
