{
  "swagger": "2.0",
  "info": {
    "description": "DLL Review Registry Api",
    "version": "1.0.0",
    "title": "DLL Review Registry",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "jeffreycwitt@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "dll-review-registry.digitallatin.org",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "Reviews",
      "description": "Find reviews about a text"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/reviews/{hash}": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get a list of reviews corresponding to a given text",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "name": "hash",
            "description": "hash of reviewed file. If the url parameters is not stated, this parameters is required. If both are stated, the hash will always take precedence.",
            "required": true
          },
          {
            "in": "query",
            "type": "string",
            "name": "society",
            "description": "Filter any review list for a given text, by the id of a review society (e.g. MAA, SCS, RSA)",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Review"
              }
            }
          }
        }
      }
    },
    "/reviews/": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get a list of reviews corresponding to a given text",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "url",
            "description": "Any accessible url containing the raw contents of the reviewed file. If this hash parameters is not stated, this parameters is required. If both are stated, the hash will always take precedence.",
            "required": true
          },
          {
            "in": "query",
            "type": "string",
            "name": "society",
            "description": "Filter any review list for a given text, by the id of a review society (e.g. MAA, SCS, RSA)",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Review"
              }
            }
          }
        }
      }
    },
    "/review/{id}": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get a review corresponding to a review id",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "name": "id",
            "description": "short id of review",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Review"
            }
          }
        }
      }
    },
    "/verify/": {
      "get": {
        "tags": [
          "Verify"
        ],
        "summary": "Get Verification of Clear Signed Certificate",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "type": "string",
            "name": "url",
            "description": "Any accessible url containing a clear signed certificate.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Verification"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Review": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "review-society": {
          "type": "string",
          "description": ""
        },
        "date": {
          "type": "string",
          "format": "date-time"
        },
        "badge-url": {
          "type": "string",
          "description": ""
        },
        "badge-rubric": {
          "type": "integer",
          "format": "int32",
          "description": ""
        },
        "review-summary": {
          "type": "string",
          "description": ""
        },
        "sha-256": {
          "type": "array",
          "description": "array of sha hashes for each reviewed document",
          "items": {
            "type": "string",
            "description": ""
          }
        },
        "ipfs-hash": {
          "type": "array",
          "description": "array of ipfs hashes for each reviewed document",
          "items": {
            "type": "string",
            "description": ""
          }
        },
        "submitted-url": {
          "type": "array",
          "description": "array of urls for each submitted url",
          "items": {
            "type": "string"
          }
        },
        "submitted-by": {
          "type": "string",
          "description": ""
        },
        "cert-ipfs-hash": {
          "type": "string",
          "description": ""
        },
        "detach-sig-hash": {
          "type": "string",
          "description": ""
        },
        "clearsigned-hash": {
          "type": "string",
          "description": ""
        }
      }
    },
    "Verification": {
      "type": "object",
      "properties": {
        "verification-response": {
          "type": "string"
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about the DLL Review Registry",
    "url": "dll-review-registry.digitallatin.org/about"
  }
}